*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
a{
    text-decoration:none;
    color:#000;
}
ul{
    list-style:none;
}

.container{
    width:100%;
    max-width:2000px;
    margin:0 auto;
    padding:0 170px;
}
.active {
    padding:0 0 0 80px;
    color:#fb2e86;
    font-weight:600;
}
.active:hover{
    color:red;
}

.header{
    width:100%;
    background:#fff;
    padding:15px 0;
    position:fixed;
    top:0;
    left:0;
    display:flex;
    justify-content:center;
}

.header .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.header img{
    height:15px;
}

.list ul{
    display:flex;
    gap:40px;
    align-items:center;
}

.list ul li a:hover{
    color:#fb2e86;
}

.search-form{
    padding:0 150px 0 140px;
    display:flex;
    align-items:center;
}

.search-form input{
    padding:10px 12px;
    border:1px solid #ddd;
    border-right:none;
    width:150px;
    height: 30px;
    font-size:15px;
}

.search-btn{
    padding:10px 15px;
    background:#fb2e86;      
    border:1px solid #fb2e86;
    color:#fff;             
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:15px;
    width:15px;
    height: 30px;
}

.search-btn i{
    color:#fff;              
    font-size:14px;         
}

