*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
a{
    text-decoration:none;
    color:#000;
}
ul{
    list-style-type:none;
}
.root{
    --primary:#e5e1d6;
}
.contact{
    margin-top:100px;
}
.container{
    width:100%;
    max-width:1400px;
    margin:0 auto;
    padding:0 50px;
}

.row{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}
.btn{
    border:0;
    padding: 10px 5px;
}